@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
	padding-top: 50px;
	color: #959595;
	overflow-x:hidden ;
	font-family: "Noto Serif", serif;
	}
	
h1, h2, h3, h4, h5, h6,a {
	color: black;
	}
	
a:hover{
	text-decoration: none;
	color: #949494;
	transition: 1s;
}
.feature {
background-color: #800000;
	color: #DAD4B5;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: #FFDFD6;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

.btn {
	border: none;
	border-radius: 1.5em;
}

.row-img{
width: fit-content;
	position: absolute;
	left: 6.8%;
	padding: 0.5em;
}